@import url('https://fonts.cdnfonts.com/css/reavers');

*{
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Reavers", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #c5cfd3;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.logo__image {
    max-width: 80px;
    height: auto;
}

.nav__links li {
    display: inline-block;
    padding: 0px 110px;
}

.nav__links li a {
    transition: all 0.1s ease 0s;
}

.nav__links li a:hover {
    color: #e2e7e9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
